/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Lato:wght@400;600&display=swap"); */

/* :root {
  --navy: #0d253d;
  --light-gray: #e2e9e7;
  --soft-pink: #f3b0b9;
  --turquoise: #13dcf0;
  --white: #ffffff;
  --black: #000000;
} */

/* :root {
  --navy: #1a202c;
  --light-gray: #f7fafc;
  --soft-pink: #ed64a6;
  --turquoise: #38b2ac;
  --white: #ffffff;
  --black: #000000;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --navy: #1a202c;
  --light-gray: #f1f5f7;
  --soft-pink: #ed64a6;
  --turquoise: #38b2ac;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
