/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Lato:wght@400;600&display=swap"); */

/* :root {
  --navy: #0d253d;
  --light-gray: #e2e9e7;
  --soft-pink: #f3b0b9;
  --turquoise: #13dcf0;
  --white: #ffffff;
  --black: #000000;
} */

/* :root {
  --navy: #1a202c;
  --light-gray: #f7fafc;
  --soft-pink: #ed64a6;
  --turquoise: #38b2ac;
  --white: #ffffff;
  --black: #000000;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"); */

:root {
  /* --navy: #2e304b; */
  /* --navy: #000000;
  /* --light-gray: #f1f5f7; */
  /* --light-gray: #d4c25c;
  --soft-pink: #ed64a6;
  --turquoise: #38b2ac;  */
  --white: #ffffff;
  --gray: #7f7f7f;
  --black: #000000;
  --light-black: #000000ae;
}

body {
  font-family: var(--quicksand);
  /* line-height: 1.6; */
}
